In [1]:
!unzip '/content/adult.zip'

Archive:  /content/adult.zip
  inflating: Index
  inflating: adult.data
  inflating: adult.names
  inflating: adult.test
  inflating: old.adult.names

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('/content/adult.data',header=None)

In [4]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

# Business Understanding
1. How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)
2. What is the average age of men?
3. What is the percentage of people who have a Bachelor's degree?
4. What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?
5. What percentage of people without advanced education make more than 50K?
6. What is the minimum number of hours a person works per week?
7. What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?
8. What country has the highest percentage of people that earn >50K and what is that percentage?
9. Identify the most popular occupation for those who earn >50K

#Data Collection
We just used from UCIrvine source - so no need to collect explicitly. Based on KPI/ analysis, organize names and types of data required.

#Data Understanding

# Analysis

##### Total race

In [5]:
df.columns = ['age','workclass','fnlwgt','education','education_num','marital_stu','occupation','relationship','race','sex','capital_gain','capital_loss','hours_per_week','native_country','income']

In [6]:
df.groupby('race')['age'].count().sort_values(ascending=False)

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: age, dtype: int64

#####

##### Ave of men

In [7]:
df[df['sex'] == ' Male']['age'].mean()

np.float64(39.43354749885268)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_stu     32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital_gain    32561 non-null  int64
 11  capital_loss    32561 non-null  int64
 12  hours_per_week  32561 non-null  int64
 13  native_country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [9]:
df['sex'].unique()

array([' Male', ' Female'], dtype=object)

##### Percentage of a Bachelor's degree

In [10]:
bachelor_d =df[df['education'] == ' Bachelors']['age'].count()
total_d = df.groupby('education')['age'].count()
total_d

education
10th              933
11th             1175
12th              433
1st-4th           168
5th-6th           333
7th-8th           646
9th               514
Assoc-acdm       1067
Assoc-voc        1382
Bachelors        5355
Doctorate         413
HS-grad         10501
Masters          1723
Preschool          51
Prof-school       576
Some-college     7291
Name: age, dtype: int64

In [11]:
percentage_of_bachelor = (bachelor_d/total_d.sum())*100

In [12]:
percentage_of_bachelor

np.float64(16.44605509658794)

##### Percentage of people with advanced education make more than 50 K

In [13]:
adv_edu = df[(df['education'] == ' Bachelors') | (df['education'] == ' Masters') | (df['education'] == ' Doctorate')]
t_adv_edu = adv_edu.groupby('education')['age'].count().sum()
t_adv_edu

np.int64(7491)

In [14]:
adv_edu_50k = adv_edu[adv_edu['income'] == ' >50K']['age'].count()
adv_edu_50k

np.int64(3486)

In [15]:
p_adv_edu_more_50k = (adv_edu_50k / t_adv_edu)
p_adv_edu_more_50k

np.float64(0.46535843011613937)

In [16]:
adv_edu[adv_edu['income'] == ' >50K'].shape[0]/adv_edu.shape[0]

0.46535843011613937

In [17]:
adv_edu.shape

(7491, 15)

In [18]:
df['education'].unique()

array([' Bachelors', ' HS-grad', ' 11th', ' Masters', ' 9th',
       ' Some-college', ' Assoc-acdm', ' Assoc-voc', ' 7th-8th',
       ' Doctorate', ' Prof-school', ' 5th-6th', ' 10th', ' 1st-4th',
       ' Preschool', ' 12th'], dtype=object)

##### Percentage of people without advanced education make more than 50K

In [19]:
df_no_adv_edu = df[(df['education'] != ' Bachelors') & (df['education'] != ' Masters') & (df['education'] != ' Doctorate')]
t_no_adv_edu = df_no_adv_edu.groupby('education')['age'].count().sum()
t_no_adv_edu

np.int64(25070)

In [20]:
no_adv_edu_income = df_no_adv_edu[df_no_adv_edu['income'] == ' >50K']['age'].count()
no_adv_edu_income

np.int64(4355)

In [21]:
p_no_adv_edu_more_50k = (no_adv_edu_income/ t_no_adv_edu) * 100

In [22]:
p_no_adv_edu_more_50k

np.float64(17.3713601914639)

In [23]:
no_adv_edu_income = df[~df['education'].isin([' Bachelors', ' Masters', ' Doctorate'])]
no_adv_edu_income[no_adv_edu_income['income'] == ' >50K'].shape[0]/no_adv_edu_income.shape[0]

0.173713601914639

##### minimum number of hours a person works per week

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_stu     32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital_gain    32561 non-null  int64
 11  capital_loss    32561 non-null  int64
 12  hours_per_week  32561 non-null  int64
 13  native_country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [25]:
min_hours_per_week = df['hours_per_week'].min()

In [26]:
min_hours_per_week

1

##### percentage of the people who work the minimum number of hours per week have a salary of more than 50K

In [27]:
min_no_hours = df[(df['income'] == ' >50K')].groupby('hours_per_week')['age'].count()
min_no_hours

hours_per_week
1      2
2      8
3      1
4      3
5      7
      ..
95     1
96     1
97     1
98     3
99    25
Name: age, Length: 80, dtype: int64

In [28]:
min_hours_50k = min_no_hours.loc[1]
min_hours_50k

np.int64(2)

In [29]:
t_hours_50k = min_no_hours.sum()
t_hours_50k

np.int64(7841)

In [30]:
df['age'].unique()

array([39, 50, 38, 53, 28, 37, 49, 52, 31, 42, 30, 23, 32, 40, 34, 25, 43,
       54, 35, 59, 56, 19, 20, 45, 22, 48, 21, 24, 57, 44, 41, 29, 18, 47,
       46, 36, 79, 27, 67, 33, 76, 17, 55, 61, 70, 64, 71, 68, 66, 51, 58,
       26, 60, 90, 75, 65, 77, 62, 63, 80, 72, 74, 69, 73, 81, 78, 88, 82,
       83, 84, 85, 86, 87])

In [31]:
p_of_minhours_50k = (t_hours_50k/min_hours_50k)*100
p_no_adv_edu_more_50k

np.float64(17.3713601914639)

##### What country has the highest percentage of people that earn >50K and what is that percentage?
#Identify the most popular occupation for those who earn >50K

In [40]:
high_income_country = df[(df['income'] == ' >50K')]
high_income_country

,age,workclass,fnlwgt,education,education_num,marital_stu,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

high_income_c_count = high_income_country['native_country'].value_counts()
high_income_c_count

In [55]:
t_high_income_country = pd.DataFrame(df['native_country'].value_counts())
t_high_income_country.columns = ['total_country_count']
t_high_income_country

                            total_country_count
native_country
United-States                             29170
Mexico                                      643
?                                           583
Philippines                                 198
Germany                                     137
Canada                                      121
Puerto-Rico                                 114
El-Salvador                                 106
India                                       100
Cuba                                         95
England                                      90
Jamaica                                      81
South                                        80
China                                        75
Italy                                        73
Dominican-Republic                           70
Vietnam                                      67
Guatemala                                    64
Japan                                        62
Poland                                       60
Columbia                                     59
Taiwan                                       51
Haiti                                        44
Iran                                         43
Portugal                                     37
Nicaragua                                    34
Peru                                         31
France                                       29
Greece                                       29
Ecuador                                      28
Ireland                                      24
Hong                                         20
Trinadad&Tobago                              19
Cambodia                                     19
Thailand                                     18
Laos                                         18
Yugoslavia                                   16
Outlying-US(Guam-USVI-etc)                   14
Honduras                                     13
Hungary                                      13
Scotland                                     12
Holand-Netherlands                            1

In [54]:
high_income_country_c =pd.DataFrame(high_income_country['native_country'].value_counts())
high_income_country_c.columns = ['high_income_country_count']
high_income_country_c

                    high_income_country_count
native_country
United-States                            7171
?                                         146
Philippines                                61
Germany                                    44
India                                      40
Canada                                     39
Mexico                                     33
England                                    30
Cuba                                       25
Italy                                      25
Japan                                      24
Taiwan                                     20
China                                      20
Iran                                       18
South                                      16
Poland                                     12
France                                     12
Puerto-Rico                                12
Jamaica                                    10
El-Salvador                                 9
Greece                                      8
Cambodia                                    7
Hong                                        6
Yugoslavia                                  6
Vietnam                                     5
Ireland                                     5
Portugal                                    4
Ecuador                                     4
Haiti                                       4
Scotland                                    3
Guatemala                                   3
Thailand                                    3
Hungary                                     3
Columbia                                    2
Peru                                        2
Dominican-Republic                          2
Trinadad&Tobago                             2
Nicaragua                                   2
Laos                                        2
Honduras                                    1

In [56]:
merged_df = pd.merge(high_income_country_c, t_high_income_country, on='native_country')
merged_df

                    high_income_country_count  total_country_count
native_country
United-States                            7171                29170
?                                         146                  583
Philippines                                61                  198
Germany                                    44                  137
India                                      40                  100
Canada                                     39                  121
Mexico                                     33                  643
England                                    30                   90
Cuba                                       25                   95
Italy                                      25                   73
Japan                                      24                   62
Taiwan                                     20                   51
China                                      20                   75
Iran                                       18                   43
South                                      16                   80
Poland                                     12                   60
France                                     12                   29
Puerto-Rico                                12                  114
Jamaica                                    10                   81
El-Salvador                                 9                  106
Greece                                      8                   29
Cambodia                                    7                   19
Hong                                        6                   20
Yugoslavia                                  6                   16
Vietnam                                     5                   67
Ireland                                     5                   24
Portugal                                    4                   37
Ecuador                                     4                   28
Haiti                                       4                   44
Scotland                                    3                   12
Guatemala                                   3                   64
Thailand                                    3                   18
Hungary                                     3                   13
Columbia                                    2                   59
Peru                                        2                   31
Dominican-Republic                          2                   70
Trinadad&Tobago                             2                   19
Nicaragua                                   2                   34
Laos                                        2                   18
Honduras                                    1                   13

In [58]:
p_of_highest_income_country = (merged_df['high_income_country_count']/merged_df['total_country_count'])*100
p_of_highest_income_country.sort_values(ascending=False)

native_country
Iran                  41.860465
France                41.379310
India                 40.000000
Taiwan                39.215686
Japan                 38.709677
Yugoslavia            37.500000
Cambodia              36.842105
Italy                 34.246575
England               33.333333
Canada                32.231405
Germany               32.116788
Philippines           30.808081
Hong                  30.000000
Greece                27.586207
China                 26.666667
Cuba                  26.315789
?                     25.042882
Scotland              25.000000
United-States         24.583476
Hungary               23.076923
Ireland               20.833333
Poland                20.000000
South                 20.000000
Thailand              16.666667
Ecuador               14.285714
Jamaica               12.345679
Laos                  11.111111
Portugal              10.810811
Trinadad&Tobago       10.526316
Puerto-Rico           10.526316
Haiti                  9.090909
El-Salvador            8.490566
Honduras               7.692308
Vietnam                7.462687
Peru                   6.451613
Nicaragua              5.882353
Mexico                 5.132193
Guatemala              4.687500
Columbia               3.389831
Dominican-Republic     2.857143
dtype: float64

##### most popular occupation for those who earn >50K

In [36]:
popular_occupation = df[df['income'] == ' >50K'].groupby('occupation')['age'].count().sort_values(ascending=False)

In [37]:
df['income'].unique()

array([' <=50K', ' >50K'], dtype=object)

In [38]:
popular_occupation

occupation
Exec-managerial      1968
Prof-specialty       1859
Sales                 983
Craft-repair          929
Adm-clerical          507
Transport-moving      320
Tech-support          283
Machine-op-inspct     250
Protective-serv       211
?                     191
Other-service         137
Farming-fishing       115
Handlers-cleaners      86
Armed-Forces            1
Priv-house-serv         1
Name: age, dtype: int64